html
  head
    title Clarence Ng
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
    link(href='./style.css' rel='stylesheet')
    link(href='http://fonts.googleapis.com/css?family=Work+Sans:400,600&text=1230ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz%20' rel='stylesheet')

  body
    main.main

      header.header
        each letter in ['C', 'l', 'a', 'r', 'e', 'n', 'c', 'e', ' ', 'N', 'g']
          span= letter

      section.content
        article.intro
          p.intro__title I’m Front End Developer.
          p.intro__text I have experience building intuitive, 
            |scalable and reliable web applications in an Agile 
            |and team oriented environment.
        .number
          .vhr
          p 01
          svg.arrow(xmlns='http://www.w3.org/2000/svg' version='1.1' width='32' height='32' viewBox='0 0 32 32')
            path(d='M19.125.219c-.075.037-.125.131-.125.281v6.5h-19v6h19v6.5c0 .3.206.387.406.188l12.188-9.375c.2-.2.2-.425 0-.625l-12.188-9.375c-.1-.1-.206-.131-.281-.094z')
      
      nav.links
        .text
          p.row clarence.ng1@gmail.com
          p.row +1 604 616 9458
          p.row github.com/clarenceng
          p.row codepen.io/clarenceng
        .icons
          .row
            svg(xmlns='http://www.w3.org/2000/svg' version='1.1' width='16' height='16' viewBox='0 0 16 16' transform='translate(0 3)')
              path(d='M0 0v2l8 4 8-4v-2h-16zm0 4v8h16v-8l-8 4-8-4z')
          .row
            svg(xmlns='http://www.w3.org/2000/svg' version='1.1' width='16' height='16' viewBox='0 0 16 16' transform='translate(3)')
              path(d='M4.375 0c-2.184 0-3.808.45-3.875.469-.282.081-.5.363-.5.656v13.75c0 .293.22.545.5.625.068.02 1.691.5 3.875.5 2.174 0 4.047-.45 4.125-.469.292-.073.5-.354.5-.656v-13.75c0-.301-.209-.584-.5-.656-.079-.02-1.95-.469-4.125-.469zm-3.375 2h7v12h-7v-12zm1.25 10l-.25.5.25.5h.75v-1h-.75zm2.25 0l-.5.5v.5h1v-.5l-.5-.5zm1.5 0v1h1v-1h-1z')
          .row
            svg(xmlns="http://www.w3.org/2000/svg" version="1.1" width="16" height="16" viewBox="0 0 16 16")
              path(d="M8 0c-4.417 0-8 3.581-8 8 0 3.534 2.29 6.536 5.469 7.594.4.073.563-.163.563-.375 0-.19-.027-.707-.031-1.375-2.225.483-2.688-1.063-2.688-1.063-.364-.924-.875-1.188-.875-1.188-.726-.496.031-.469.031-.469.803.057 1.219.813 1.219.813.714 1.222 1.888.861 2.344.656.073-.517.271-.864.5-1.063-1.776-.202-3.625-.871-3.625-3.938 0-.873.301-1.596.813-2.156-.082-.203-.373-1.024.063-2.125 0 0 .691-.223 2.219.813.638-.177 1.32-.247 2-.25.679.003 1.361.073 2 .25 1.527-1.035 2.188-.813 2.188-.813.436 1.101.176 1.923.094 2.125.513.559.813 1.282.813 2.156 0 3.073-1.874 3.739-3.656 3.938.287.247.563.722.563 1.469 0 1.069-.031 1.956-.031 2.219 0 .214.156.453.563.375 3.176-1.06 5.469-4.061 5.469-7.594 0-4.419-3.582-8-8-8z")
          .row
            svg(xmlns="http://www.w3.org/2000/svg" version="1.1" width="1792" height="1792" viewBox="0 0 1792 1792")
              path(d="M216 1169l603 402v-359l-334-223zm-62-144l193-129-193-129v258zm819 546l603-402-269-180-334 223v359zm-77-493l272-182-272-182-272 182zm-411-275l334-223v-359l-603 402zm960 93l193 129v-258zm-138-93l269-180-603-402v359zm485-180v546q0 41-34 64l-819 546q-21 13-43 13t-43-13l-819-546q-34-23-34-64v-546q0-41 34-64l819-546q21-13 43-13t43 13l819 546q34 23 34 64z")
    
      p.quote Remember the times we’ve discuss about things and came up with brilliant ideas because we’re 
        span.emph passionate 
        | about what we do.