/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}


// Base Styles
$primary500: #CACACA;
$primary600: #9e97a5;
$primary700: #1F1F1F;
$background400: #656259;
$background500: #bab9b4;
$background600: #827964;
$accent: #907B76;

$max-width: 800px;

* {
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: 'Work Sans', Arial, Helvetica, sans-serif;
	font-weight: 400;
	line-height: 1.4;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: $primary500;
	background: $background500;
}

.main {
	max-width: $max-width;
  margin: 0 auto;
}

.header {
	font-weight: 600;
  font-size: 96px;
  text-transform: uppercase;
  color: #c0c78a;
	display: flex;
	justify-content: space-between;
	white-space: pre;

  @media (max-width: $max-width) {
    font-size: 14vw;
  }
}

.container {
	display: flex;
	justify-content: space-between;
	position: relative;

	@media (max-width: $max-width) {
    display: block;
  }
}

.intro {
	margin-top: 20px;
	color: gray;

	.intro__title {
		text-decoration: underline;
		font-size: 28px;
		margin-bottom: 5px;
	}

	.intro__text {
		font-size: 14px;
	}
	
	@media (max-width: $max-width) {
		margin-bottom: 20px;
		margin-right: 5px;
		text-align: right;
  }
}

.content {
	flex: 1 1 auto;
	padding-left: 8px;
}

.sidebar {
	flex: 1 0 220px;
	border-left: 1px solid;
	margin-left: 20px;

	@media (max-width: $max-width) {
		border: 0;
		margin-left: 0;
		margin-top: 20px;
	}
}

.number {
	position: relative;
  font-size: 218px;
	color: $primary500;
	height: 140px;
	
	p {
		position: absolute;
		right: -16px;
		top: -83px;
	}
}

.arrow {
	position: absolute;
  width: 84px;
  height: 90px;
	top: 45px;
	left: 42px;
	fill: lightgray;
	transition: .1s fill ease-in-out;

	&:hover {
		fill: #fff;
		cursor: pointer;
	}
	
	@media (max-width: $max-width) {
		left: auto;
		right: 93px;
	}
}

.links {
	margin-top: 20px;
	margin-right: 7px;
	display: flex;
	justify-content: flex-end;
	color: gray;
}

.row {
	height: 30px;
	display: flex;
	align-items: center;
	justify-content: flex-end;

	svg {
		display: block;
    width: 100%;
    height: auto;
		fill: gray;
	}
}

.text {
	font-size: 13px;
	margin-right: 20px;
}

.icons {
	max-width: 16px;
}

.quote {
	font-size: 18px;
	text-align: right;
	color: gray;
	margin-bottom: 20px;
}

.emph {
	color: #d3d3d3;	
}